body {
  overflow: hidden;
}

.radius-50 {
  border-radius: 20px;
}

i {
  pointer-events: none;
}

#container {
  height: 94vh;
}

.tab-content {
  overflow-y: auto;
  scroll-behavior: smooth;
  height: 100%;
}

.active > .functionary_pane {
  display: grid;
  grid-template-rows: 350px 30px 83%;
}

.active > .addressees_pane {
  display: grid;
  grid-template-rows: 353px 30px 83%;
}

.active > .template_pane {
  display: grid;
  grid-template-rows: 200px 30px 83%;
}
