body {
  overflow: hidden;
}

.radius-50 {
  border-radius: 20px;
}

i {
  pointer-events: none;
}

#container {
  height: 94vh;
}

.tab-content {
  overflow-y: auto;
  scroll-behavior: smooth;
  height: 100%;
}

.active > .functionary_pane {
  display: grid;
  grid-template-rows: 350px 30px 70%;
}

.active > .addressees_pane {
  display: grid;
  grid-template-rows: 353px 30px 70%;
}

.active > .template_pane {
  display: grid;
  grid-template-rows: 200px 30px 70%;
}

.scroll::-webkit-scrollbar {
  width: 8px;
}
.scroll::-webkit-scrollbar-track {
  border-radius: 50px;
}
.scroll::-webkit-scrollbar-thumb {
  background: rgb(224, 224, 224);
  border-radius: 10px;
}
.scroll::-webkit-scrollbar-thumb:hover {
  background: rgb(160, 160, 160);
}


.menu-bar{
  cursor: pointer;
  width: fit-content;
}
.menu-bar > .bar {
  width: 35px;
  height: 5px;
  background-color: #3b3b3b;
  margin: 6px 0;
}

.btn.active {
  background-color: #fd182abf;
}
