body {
  overflow: hidden;
}

.radius-50 {
  border-radius: 20px;
}

i {
  pointer-events: none;
}

#container {
  height: 94vh;
}

.tab-content {
  overflow-y: auto;
  scroll-behavior: smooth;
  height: 100%;
}

.functionary_pane.active {
  display: grid;
  grid-template-rows: 425px 5px 83%;
}
