USE [master]
GO
CREATE DATABASE [memos&notas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'memos&notas', FILENAME = N'/var/opt/mssql/data/memos&notas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'memos&notas_log', FILENAME = N'/var/opt/mssql/data/memos&notas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [memos&notas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [memos&notas]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[memo](
	[id] [tinyint] IDENTITY(1,1) NOT NULL,
	[asunto] [nvarchar](50) NOT NULL,
	[solicitado_por] [nvarchar](50) NOT NULL,
	[dirigido_a] [nvarchar](50) NOT NULL,
	[last] [tinyint] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[memo] SET (LOCK_ESCALATION = AUTO)
GO
USE [master]
GO
